<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Laptop Price Predictor</title>
    <link rel="stylesheet" type="text/css" href="../static/style2.css">
    <script src="https://kit.fontawesome.com/069c9c6dbb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class='box-1'>
            <h1>General Laptop Price Predictor</h1>
        </div>

        <div class="box-2">
           <h4>{{ prediction_text }}</h4> 

           <br><br>
           <form action="http://127.0.0.1:5000/">
               <button type="submit">Predict Again</button>
           </form>

           <div class="box-3" >
            
            <div class="media">
                <ul>
                    <li><a href="https://twitter.com/Andy52372208" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/andy-guo-zhen-foo-791a58174/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://github.com/AndyFooGuoZhen" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="mailto:andy.guozhen@gmail.com" target="_blank"><i class="far fa-envelope"></i></a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>

    </div>
    
</body>
</html>